0.0.0.0:7416 {

    rewrite {
        to {path} {path}/ /
    }

    root /srv/taiga-front

}

0.0.0.0:7416/api {


    proxy / tasks.django:8000/api {
        header_upstream X-Scheme {scheme}
        transparent
    }

}

0.0.0.0:7416/admin {

    proxy / tasks.django:8000/admin {
        header_upstream X-Scheme {scheme}
        transparent
    }

}

0.0.0.0:7416/static {
    root /srv/taiga-back-static
}

0.0.0.0:7416/media {
    root /srv/taiga-back-media
}

0.0.0.0:7416/events {


    proxy / tasks.taiga_events:8888/events {
        websocket
    }

}
